{# FOOTER #}
{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
{#<script type="text/javascript" src="http://alvarotrigo.com/fullPage/jquery.fullPage.min.js"></script>#}
{#<script type="text/javascript">#}
    {#$(function() #}{#}#}
        {#$('#fullpage').fullpage(#}{#}#}
            {#sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],#}
            {#anchors: ['what', 'sectionWho', 'sectionWhen', 'sectionWhere', 'sectionHowMuch'],#}
            {#menu: '#menu',#}
            {#css3: true,#}
            {#scrollingSpeed: 1000#}
        {#});#}

{#//        $('#showExamples').click(function(e)#}{#}#}
{#//            e.stopPropagation();#}
{#//            e.preventDefault();#}
{#//            $('#examplesList').toggle();#}
{#//        });#}

{#<<<<<<< HEAD#}
{#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
{#<script type="text/javascript" src="http://alvarotrigo.com/fullPage/jquery.fullPage.min.js"></script>#}
{#<script type="text/javascript">#}
    {#$(function() #}{#}#}
        {#$('#fullpage').fullpage(#}{#}#}
            {#sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],#}
            {#anchors: ['what', 'sectionWho', 'sectionWhen', 'sectionWhere', 'sectionHowMuch'],#}
            {#menu: '#menu',#}
            {#css3: true,#}
            {#scrollingSpeed: 1000#}
        {#});#}
{#=======#}
{#//        $('html').click(function()#}{#}#}
{#//            $('#examplesList').hide();#}
{#//        });#}
    {#});#}
{#>>>>>>> e35e4f90d27d8ea14dccb089d1256b8a7d34ce95#}

{#</script>#}
</body>
</html>
