{# HEADER #}
<!DOCTYPE html>
<html>
<head>
    <title>7PHP | Fórum de Profissionais PHP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/theme.css">
</head>
<body>
