{# HEADER #}
<!DOCTYPE html>
<html>
<head>
    <title>7PHP | Fórum de Profissionais PHP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/theme.css">

    <meta property="og:url"                content="http://7php.phpmaranhao.com.br/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="7PHP | Fórum de Profissionais PHP" />
    <meta property="og:description"        content="O Fórum de Profissionais PHP ocorre anualmente em São Luis, MA com a proposta de promover o intercâmbio de ideias com o envolvimento de expoentes nacionais na linguagem número um da Web." />
    <meta property="og:image"              content="http://7php.phpmaranhao.com.br/" />
</head>
<body>
