{% block navbar %}
<header class="navBar" id="navBar">
    <nav class="container">
        <div class="grid menu">
            <a href="/" class="column navItem">O QUÊ</a>
            <a href="/quem" class="column navItem">QUEM</a>
            <a href="/quando" class="column navItem">QUANDO</a>
            <a href="/onde" class="column navItem">ONDE</a>
            <a href="/quanto" class="column navItem">QUANTO</a>
        </div>
    </nav>
    <div class="grid menuHamburger">
        <a class="column navItem" id="openSideNav"><span class="icon menuIcon"></span></a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a class="closebtn" id="closeSideNav">&times;</a>
        <a href="/quem">O QUÊ</a>
        <a href="/qundo">QUEM</a>
        <a href="/onde">ONDE</a>
        <a href="/quanto">QUANTO</a>
    </div>
</header>
{% endblock %}
