{% block navbar %}
<header class="navBar" id="navBar">
    <nav class="container">
        <div class="grid menu" id="menu">
            <a href="/#what" class="column navItem">O QUÊ</a>
            <a href="/#sectionWho" class="column navItem">QUEM</a>
            <a href="/#sectionWhen" class="column navItem">QUANDO</a>
            <a href="/#sectionWhere" class="column navItem">ONDE</a>
            <a href="/#sectionHowMuch" class="column navItem">QUANTO</a>
            <a href="/#sectionSponsorship" class="column navItem">PATROCÍNIO</a>
            <a href="/#sectionPartiner" class="column navItem">PARCEIRO</a>
        </div>
    </nav>
    <div class="grid menuHamburger">
        <a class="column navItem" id="openSideNav"><span class="icon menuIcon"></span></a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a class="closebtn" id="closeSideNav">&times;</a>
        <a href="/">INÍCIO</a>
        <a href="/#what">O QUÊ</a>
        <a href="/#sectionWho">QUEM</a>
        <a href="/#sectionWhen">ONDE</a>
        <a href="/#sectionHowMuch">QUANTO</a>
        <a href="/#sectionSponsorship">PATROCÍNIO</a>
        <a href="/#sectionPartiner">PARCEIRO</a>
    </div>
</header>
{% endblock %}
