{% block navbar %}
<header class="navBar" id="navBar">
    <nav class="container">
        <div class="grid menu" id="menu">
            <a href="/#oque" class="column navItem">O QUÊ</a>
            <a href="/#quem" class="column navItem">QUEM</a>
            <a href="/#quando" class="column navItem">QUANDO</a>
            <a href="/#onde" class="column navItem">ONDE</a>
            <a href="/#quanto" class="column navItem">QUANTO</a>
            <a href="/#patrocinadores" class="column navItem">PATROCÍNIO</a>
            <a href="/#parceiros" class="column navItem">PARCEIRO</a>
        </div>
    </nav>
    <div class="grid menuHamburger">
        <a href="#" class="column navItem" id="openSideNav"><span class="icon menuIcon"></span></a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a class="closebtn" id="closeSideNav">&times;</a>
        <a href="/">INÍCIO</a>
        <a href="/#oque" class="navItemMobile">O QUÊ</a>
        <a href="/#quem" class="navItemMobile">QUEM</a>
        <a href="/#quando" class="navItemMobile">QUANDO</a>
        <a href="/#onde" class="navItemMobile">ONDE</a>
        <a href="/#quanto" class="navItemMobile">QUANTO</a>
        <a href="/#patrocinadores" class="navItemMobile">PATROCÍNIO</a>
        <a href="/#parceiros" class="navItemMobile">PARCEIRO</a>
    </div>
</header>
{% endblock %}
