{% extends '/base/templateWhen.twig' %}

{% block content %}
    {% include '/includes/navbar.twig' %}
    <main class="sectionWho">
        <header class="sectionHeader who">
            <div class="container">
                <h1>Programação</h1>
            </div>
        </header>
        <article class="container content">
            <div class="grid gridResponsive">
                <div class="column">

                    <section id="timeline" class="timelineContainer">
                        <div class="timelineBlock">
                            <div class="timelineImg green">
                                &nbsp;
                            </div>

                            <div class="timelineContent">
                                <h2>Titulo da sessão 1</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <a href="#0" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">Jan 14</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red">
                                &nbsp;
                            </div>

                            <div class="timelineContent">
                                <h2>Titulo da sessão 2</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                                <a href="#0" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">Jan 18</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg green">
                                &nbsp;
                            </div>

                            <div class="timelineContent">
                                <h2>Titulo da sessão 3</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                                <a href="#0" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">Jan 24</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow">
                                &nbsp;
                            </div>

                            <div class="timelineContent">
                                <h2>Titulo da sessão 4</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <a href="#0" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">14 Fev</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg yellow">
                                &nbsp;
                            </div>

                            <div class="timelineContent">
                                <h2>Titulo da sessão 5</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                                <a href="#0" class="timelineButton button buttonSecondary">Veja mais</a>
                                <span class="timelineDate">18 Fev</span>
                            </div>
                        </div>

                        <div class="timelineBlock">
                            <div class="timelineImg red">
                                &nbsp;
                            </div>

                            <div class="timelineContent">
                                <h2>Sessão Final</h2>
                                <p>This is the content of the last section</p>
                                <span class="timelineDate">26 Fev</span>
                            </div>
                        </div>
                    </section> <!-- timeline -->
                    {#<p>#}
                    {#<p>Ainda estamos trabalhando nisso. Em breve você poderá ver tudo que está sendo feito.</p>#}
                    {#<p>Se inscreva para receber em primeira mão as novidades que estamos preparando pra vocês.</p>#}

                    {#<h3>Solenidade de Abertura</h3>#}
                    {#<p>08h30</p>#}
                    {#<h3>Tema não definido</h3>#}
                    {#<p>Atmos Maciel</p>#}
                    {#<p>09h00</p>#}
                    {#<h3>Tema não definido</h3>#}
                    {#<p>Evaldo Barbosa</p>#}
                    {#<p>10h00</p>#}
                    {#<h3>Fabio Soares</h3>#}
                    {#<p>Tema não definido</p>#}
                    {#<p>11h00</p>#}
                    {#<h3>Almoço</h3>#}
                    {#<p>12h00</p>#}
                    {#<h3>Nanderson Castro</h3>#}
                    {#<p>JWT com Symfony</p>#}
                    {#<p>13h30</p>#}
                    {#<h3>Ricardo Coelho</h3>#}
                    {#<p>PHP & Templates SVG - Documentos Instantâneos</p>#}
                    {#<p>14h30</p>#}
                    {#<h3>William Mano</h3>#}
                    {#<p>Tema não definido</p>#}
                    {#<p>15h00</p>#}
                    {#</p>#}
                    <aside class="textWhite textCenter">
                        <a href="https://www.sympla.com.br/7php--forum-de-profissionais-php-do-maranhao__90935" target="_blank" class="button buttonSecondary bigger">INSCREVA-SE</a>
                        <br><br>
                    </aside>

                {#</div>#}

                {#<div class="column">#}
                    {#<img src="/assets/img/speakers/{{ photo_speaker }}" class="imgResponsive imgCenter">#}
                    {#<p class="socialNetworkLinks textCenter">#}
                        {#{% for key, social in socialNetWork %}#}
                            {#<a href="{{ social }}" target="_blank"><span class="icon {{ key }}Icon"></span></a>#}
                        {#{% endfor %}#}
                    {#</p>#}
                {#</div>#}

            </div>
        </article>
        <br>
    </main>

<script type="text/javascript" src="/assets/js/lib.js"></script>
<script type="text/javascript" src="/assets/js/who.js"></script>
{% endblock %}
