{% extends '/base/templateWhen.twig' %}

{% block content %}
    {% include '/includes/navbar.twig' %}
    <main class="sectionWho">
        <header class="sectionHeader who">
            <div class="container">
                <h1>programação</h1>
            </div>
        </header>
        <article class="container textWhite textJustify content">
            <div class="grid gridResponsive">
                <div class="column">
                    <p>
                        <h3>Credenciamento</h3>
                            <p>08h00</p>

                        <h3>Solenidade de Abertura</h3>
                            <p>08h30</p>
                        <h3>Tema não definido</h3>
                            <p>Atmos Maciel</p>
                            <p>09h00</p>
                        <h3>Tema não definido</h3>
                            <p>Evaldo Barbosa</p>
                            <p>10h00</p>
                        <h3>Fabio Soares</h3>
                            <p>Tema não definido</p>
                            <p>11h00</p>
                        <h3>Almoço</h3>
                            <p>12h00</p>
                        <h3>Nanderson Castro</h3>
                            <p>JWT com Symfony</p>
                            <p>13h30</p>
                        <h3>Ricardo Coelho</h3>
                            <p>PHP & Templates SVG - Documentos Instantâneos</p>
                            <p>14h30</p>
                        <h3>William Mano</h3>
                            <p>Tema não definido</p>
                            <p>15h00</p>
                    </p>

                </div>

                {#<div class="column">#}
                    {#<img src="/assets/img/speakers/{{ photo_speaker }}" class="imgResponsive imgCenter">#}
                    {#<p class="socialNetworkLinks textCenter">#}
                        {#{% for key, social in socialNetWork %}#}
                            {#<a href="{{ social }}" target="_blank"><span class="icon {{ key }}Icon"></span></a>#}
                        {#{% endfor %}#}
                    {#</p>#}
                {#</div>#}

            </div>
        </article>
        <article class="container textWhite textJustify content">

        </article>
        <br>
        {#<header class="sectionHeader who">#}
            {#<div class="container">#}
                {#<h1>titulo</h1>#}
            {#</div>#}
        {#</header>#}
        {#<article class="container textWhite textJustify content">#}
            {#<div class="grid gridResponsive">#}
                {#<div class="column">#}
                    {#<img src="/assets/img/img.png" class="imgResponsive imgCenter">#}
                {#</div>#}
                {#<div class="column">#}
                    {#<h1>titulo</h1>#}
                    {#<p>#}
                        {#descripton#}
                    {#</p>#}

                    {#<p>#}
                        {#<a href="{{ slideLink }}" class="button buttonPrimary"><span class="icon documentIcon"></span> Slide</a>#}
                    {#</p>#}

                {#</div>#}
            {#</div>#}
        {#</article>#}
    </main>

    <main class="sectionWho">
    </main>
    <main class="sectionWho">
    </main>
    <main class="sectionWho">
    </main>
    <main class="sectionWho">
    </main>
    <main class="sectionWho">
    </main>
    <main class="sectionWho">
    </main>
    <main class="sectionWho">
    </main>

<script type="text/javascript" src="/assets/js/lib.js"></script>
<script type="text/javascript" src="/assets/js/who.js"></script>
{% endblock %}
