{% extends 'base/template.twig' %}

{% block content %}
    <!--       SESSÃO O QUÊ        -->
    <section id="what">
        <header class="sectionHeader what">
            <div class="container">
                <h1>O quê</h1>
            </div>
        </header>
        <article class="container textWhite textJustify content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris sagittis quam nec dui faucibus, et dapibus erat volutpat.
                Praesent id enim justo. Ut lacinia rutrum ex, a aliquam enim dignissim at.
                Curabitur ut orci sit amet arcu cursus accumsan.
                Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Nunc sit amet tortor justo. Duis feugiat tristique arcu, vel semper lectus fermentum facilisis.
                Sed ac magna a ipsum ornare pulvinar.
            </p>
            <p>
                Integer commodo odio mauris, nec tempor elit pretium ornare.
                Fusce est tellus, mollis at mattis quis, venenatis nec felis.
                Donec ornare aliquam diam, quis tincidunt orci varius a.
                Nunc placerat fermentum ornare. Morbi ac odio rutrum, maximus magna at, tempor mi.
                Vestibulum id velit in purus maximus euismod.
                Quisque sit amet dui et urna porta commodo eget eu est.
                Phasellus eget ultricies mi.
                Vestibulum viverra ornare ante, id rutrum enim porttitor sit amet.
            </p>
            <p>
                Pellentesque iaculis neque vitae interdum venenatis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas non ligula ac ipsum tempus dictum.
                Proin vitae tempus risus.
                Vivamus sit amet nibh ac lectus lacinia vehicula.
                Suspendisse hendrerit eget nisl non consequat.
                Integer porta, elit ac rutrum vestibulum, dolor lacus elementum orci, eu pharetra urna mauris sit amet erat.
                Nam venenatis vulputate dictum.
            </p>
            <p>
                Praesent sed sagittis est.
                Suspendisse at ipsum id felis ultricies eleifend.
                Donec non orci vel lectus tempor condimentum.
                Nunc finibus, urna et condimentum imperdiet, nunc justo dictum ligula, et eleifend velit justo quis purus.
                Nullam enim neque, fringilla at ipsum eget, porttitor feugiat elit.
                Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Curabitur eu mattis nibh, at dapibus lorem.
                Donec tincidunt massa a porta vestibulum. Nam ante mi, dictum sed cursus quis, posuere eget dolor.
                Suspendisse maximus ac purus sit amet accumsan.
                Phasellus dapibus leo a aliquet iaculis.
                Pellentesque vulputate felis eget eleifend lacinia.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Duis non placerat nulla.
            </p>
        </article>
    </section>
{% endblock %}